/* General features */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F8F8;
    font-family: Tahoma, Arial, Verdana;
}

/* Button */
button {
    display: block;
    transition: 1s;
    width: 90%;
    border: 2px solid black;
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 1rem 0rem;
    cursor: pointer;
    background-color: white;
}

button:hover {
    border: 2px solid black;
    transition: 1s;
    background-color: black;
    color: white;
}

/* Photo gallery */
.container {
    columns: 3;
    column-gap: 2rem;
    width: 90%;
    margin: 0rem auto;
}

.box {
    position: relative;
    margin-bottom: 2rem;
    break-inside: avoid;
}

.box img {
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 1em;
    transition: 1s;
}

.box:hover img {
    opacity: 0.5;
    transition: 1s;
}

.photo_footer {
    position: absolute;
    bottom: 1em;
    left: 1em;
    width: 80%;
    padding: 1em;
    border-radius: 1em;
    transition: 1s;
    color: white;
}

.box:hover .photo_footer {
    transition: 1s;
    background: none;
    color: black;
}

/* Media queries */
@media screen and (max-width: 960px) {
    .container {
        columns: 2;
    }
}

@media screen and (max-width: 480px) {
    .container {
        columns: 1;
    }
}